**BASICS OF PYTHON**

---

1- My first program

In [1]:
print("hello world") 
print("hi i am haris") 
print(2+3)

hello world
hi i am haris
5

2- Operators

In [2]:
print(2+1)
print(3-1)
print(23) 
print(2*3)
print(6/2)
print(6//2)
print(13%2)
print(3+2/23/3+6-4)
# *PEMDAS Parenthesis Exponents Multiply Divide 
# Addition Subtraction in left to right sequence

3
2
23
6
3.0
3
1
5.028985507246377

3-Strings

In [3]:
print("hey i am haris") 
print("we are learning with aamar") 
print('test for single quote') 
print("test for double quote") 
print('''test for triple quote''')

hey i am haris
we are learning with aamar
test for single quote
test for double quote
test for triple quote

4- Comments

In [4]:
# The shortcut key for comment is cntrl+/
print("hello world") # print the string

hello world

5-Variables

In [5]:
x="haris khan"
x

'haris khan'

6-Input program

In [7]:
name= input("what is your name -") 
age=input("what is your age ") 
greeting= print("hi") 
print( age) 
print(name,greeting, age)

what is your name -haris
what is your age 21
hi
21
haris None 21

07-Functions

In [15]:
def itsafunction(): 
  text="i am cool" 
  print(text) 
  print(text) 
  print(text)
  
  itsafunction(3)

08- if, else and elif in python

In [16]:
x=1 
y=3.3 
if x==y:print("greay") 
elif x<y:print("not very great") 
else:print("not great")

not very great

09- Important libraries in python

In [17]:
import math 
print(math.pi)
import statistics 
x=[1,2,3] 
print(statistics.median(x))
# important libraries numpy, pandas

3.141592653589793
2

10- Loops in python

- 10.1 - while loop

In [1]:
x=input("provide the value of x =") 
x=int(x) 
while (x<12): 
 print(x) 
  x=x+1

IndentationError: ignored

- 10.2 - For loop

In [2]:
for x in range(5,10): 
  print(x)
days= ("mon", "tue", "wed", "thurs") 
for d in days: 
  print(d)

5
6
7
8
9
mon
tue
wed
thurs