# Basic data structure in pyrhon
### 1_Tuples
### 2_List
### 3_Dictionarioes
### 4_set
# ---------------------------------------------------------------------------------------------------------------

# 1_Tuples
- Ordered collection of elements
- Enclosed in round brackets()
- Different kind of elements can be stored
- One elements are stored you cant change them

In [8]:
tup1 = (1 ,"python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [9]:
# type of a tuple
type(tup1)

tuple

### -Indexing in tuple

In [14]:
tup1[0]

1

In [11]:
tup1[1]

'python'

In [13]:
tup1[2]

True

In [15]:
tup1[3]

2.5

In [21]:
tup1[0:4]

(1, 'python', True, 2.5)

In [26]:
# amount of elements in tuple
len(tup1)

4

In [28]:
tup2=(3, "haris", False, 5.5)
tup2

(3, 'haris', False, 5.5)

In [36]:
# Adding two tuples or concatenation
tup1 +tup2

(1, 'python', True, 2.5, 3, 'haris', False, 5.5)

In [40]:
# minimun value in tuple
tup3=(4, 3.1,5,20)
min(tup3)

3.1

In [39]:
# maximum value in tuple
tup3=(4, 3.1,5,20)
max(tup3)

20

# 2_list
- Ordered collection of elements
- Enclosed in square brackets()
- You can change the values

In [43]:
list1=[2,"python", True]
list1

[2, 'python', True]

In [45]:
# type of list
type(list1)

3

In [46]:
# length of list
len(list1)

3

In [59]:
# indexing in list
list1[0], list1[1],list1[2]

(2, 'python', True)

In [60]:
list2=[3,5,"khan","codanics",478,53.2,False]
list2

[3, 5, 'khan', 'codanics', 478, 53.2, False]

In [61]:
#concatenating list
list1+list2

[2, 'python', True, 3, 5, 'khan', 'codanics', 478, 53.2, False]

In [65]:
list1*2

[2, 'python', True, 2, 'python', True]

In [76]:
list1

[2, 'python', True]

In [77]:
#using dot with tab after list name will give us differen functions
list1.reverse()
list1

[True, 'python', 2]

In [82]:
list1.append(3)
list1

[True, 'python', 2, 5, 5, 'reser', 3]

In [94]:
list1.count(2)

1

In [96]:
# sorting a list
list3=[30,39,40,65,98]
list3.sort()
list3

[30, 39, 40, 65, 98]

In [97]:
#concatenating a list
list1+list2+list3

[True,
 'python',
 2,
 5,
 5,
 'reser',
 3,
 3,
 5,
 'khan',
 'codanics',
 478,
 53.2,
 False,
 30,
 39,
 40,
 65,
 98]

# 3_Dictionaries
- Unordered collection of elements
- Enclosed in curly brackets{}
- key and values
- mutatable/changable

In [102]:
# food and their prices
food1={"samosa":30,"pakora":100,"raita":20,"salad":50,"chicken rolls":30}
food1

{'samosa': 30, 'pakora': 100, 'raita': 20, 'salad': 50, 'chicken rolls': 30}

In [103]:
type(food1)

dict

In [105]:
# extractr data
keys1=food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken rolls'])

In [107]:
# extractr data
values1=food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [108]:
# adding extra values and items in dictionary
food1["tikki"]=10
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 10}

In [109]:
# updating the values
food1["tikki"]=15
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 15}

In [110]:
food2={"dates":50,"chocolates":200,"sawiyyan":1000}
food2

{'dates': 50, 'chocolates': 200, 'sawiyyan': 1000}

In [111]:
#concatenate
food1+food2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [112]:
# it is not concatenated by just adding plus we have to use update operator after dot
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken rolls': 30,
 'tikki': 15,
 'dates': 50,
 'chocolates': 200,
 'sawiyyan': 1000}

# 4_Sets
- Unordered and unindexed collection of elements
- Enclosed in curly brackets{}
- no duplicates allowed

In [115]:
s1={1,2,5.3,"haris","khan","kohat","codanics"}
s1

{1, 2, 5.3, 'haris', 'khan', 'kohat'}

In [117]:
# adding element in set
# we cant add boolean
# no repitition
s1.add("peshawar")
s1

{1, 2, 5.3, 'haris', 'khan', 'kohat', 'peshawar'}

In [118]:
# removing somethin from list
s1.remove("khan")
s1

{1, 2, 5.3, 'haris', 'kohat', 'peshawar'}

In [119]:
s1.clear()
s1

set()

In [126]:
# copying 1 set to another
s1={1,2,5.3,"haris","khan","kohat","codanics"}
s2=s1.copy()
s2

{1, 2, 5.3, 'codanics', 'haris', 'khan', 'kohat'}

In [150]:
# difference bw two sets(s1-s2)
s1={1,2,3,4,5,6,7,8,9,10,11,12,13,14}
s2={4,5,6,7,8,9,10,11,12,13,14,15,16,17}
s1.difference(s2)

{1, 2, 3}

In [149]:
# s1=s1-s2
s1={1,2,3,4,5,6,7,8,9,10,11,12,13,14}
s2={4,5,6,7,8,9,10,11,12,13,14,15,16,17}
s1.difference_update(s2)
s1

{1, 2, 3}

In [152]:
# removing elemnt
s1.discard(12)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14}

In [153]:
s1.intersection(s2)

{4, 5, 6, 7, 8, 9, 10, 11, 13, 14}

In [155]:
s1.intersection_update(s2)
s1

{4, 5, 6, 7, 8, 9, 10, 11, 13, 14}